

/*Configurações Geral*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    display: flex;
    min-height: 100vh;
    background-color: rgb(208, 227, 228);
}

main {
    position: fixed;
    padding: 20px;
    z-index: 1;
    padding-left: calc(82px + 20px);
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: white;
    box-shadow: 0px 0px 2px 2px rgb(173, 173, 173);
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    position: relative;
    padding: 12px;
}

.User  {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

.User > #user_avatar {

    width: 50px;
    height: 50px;
    object-fit: cover;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    font-size: 0.7em;
    color: rgb(94, 93, 93);
}

ul#side-items {
    display: flex;
    gap: 5px;
    flex-direction: column;
    list-style: none;
}

ul#side-items > li.side-item {
    border-radius: 10px;
    padding: 10px;
    font-size: 0.9em;
    cursor: pointer;
}

ul#side-items > li.side-item.active {
    background-color: rgb(162, 0, 255);
}

ul#side-items > li.side-item:hover:not(.active), #logout_btn:hover {
    background-color: rgb(206, 205, 205);
}

ul#side-items > li.side-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}

ul#side-items > li.side-item.active a {
    color: white;
}

ul#side-items > li.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid white;
    padding: 12px;
}

#logout_btn {
    display: flex;
    align-items: center;
    padding: 12px;
    font-size: 14px;
    gap: 20px;
    border: none;
    border-radius: 8px;

    text-align: start;
    cursor: pointer;
    background-color: transparent;

}

#open_btn {
    position: absolute;
    background-color: rgb(162, 0, 255);
    color: white;
    top: 30px;
    right: -16px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    border: none;
    border-radius: 100%;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item_description {
    width: 0px;
    height: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: width .6s;
}

#sidebar.open-sidebar {
  min-width: 15%;
}

#sidebar.open-sidebar .item_description  {
  width: 150px;
  height: auto; /* ou o tamanho desejado */
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}